<dl class="dl-horizontal">
  <dt></dt>
  <dd><img src="<%= @movie.image_url %>" width="200"></dd>

  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>Year</dt>
  <dd><%= @movie.year %></dd>

  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>
  <dt><a href="/movies" class="btn btn-primary">Back</a></dt>
</dl>
